table{
    border-collapse: separate;
    border-spacing: 6xp;
    margin: auto;
}

td{
    width: 70xp;
    height: 70xp;
    text-align: center;
    vertical-align: middle;
    border-radius: 8xp;
    font-family: Arial;
}
.numero{
    font-size: 10px;
}
.simbolo{
    font-size: 24xp;
    font-weight: bold;
}
.nome{
    font-size: 10xp;
}
.metal{background: #f4b400;}
.nao-metal{background: #8bc34a;}
.metaloide{background: #4fc3f7;}
.gas{background: #ce93d8;}